* {
  margin: 0;
  padding: 0;
}

.body,
html {
  font-family: helvetica, arial, sans-serif;
}

.accordion {
  width: 45%;
  margin: auto;
  border: 1px solid #4fb4c3;
  margin-top: 3rem;
}

.accordion-item-header {
  background-color: #57c3d3;
  border: 1px solid #4fb4c3;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 24px;
  font-weight: lighter;
  color: white;
  user-select: none;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.accordion-item-header:hover {
  cursor: pointer;
  background-color: #1edaf7;
}

.accordion-item-pgraph {
  max-height: 0;
  overflow: hidden;
}

.active {
  max-height: 120px;
  overflow: hidden;
  transition: all 0.4s linear;
}

.accordion-pgraph-content {
  width: 90%;
  margin: auto;
  height: 100px;
  color: #8d8a87;
  padding-top: 2rem;
}
